<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionSQL" connectionString="server=BRSP015884;Trusted_Connection=yes;database=getinfo; user id=andre_abreu_trp;password=Suporte01; connection timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Informações de Domínio -->
    <!--Informações de usuários administrativos-->
    <!--Credenciais ARS-->
    <add key="DomainARS" value="br.aon.bz"/>
    <add key="UserARS" value="andre_abreu_trp"/>
    <add key="PassARS" value="Suporte01"/>
    <!--Credenciais Affinity-->
    <add key="DomainAffinity" value="aonbrasgsao01"/>
    <add key="UserAffinity" value="aabreu"/>
    <add key="PassAffinity" value="Suporte01"/>
    <!--Credenciais Latam-->
    <add key="DomainLatam" value="aonnet.aon.net"/>
    <add key="UserLatam" value="aabreu2"/>
    <add key="PassLatam" value="Fodam-se"/>
    
    

  </appSettings>
</configuration>