@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
      
            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="https://oneidentity-gpm.hewitt.com/pmf/HelpDesk/ResetPassword.html" style="border: 0; width:100%; height:420px" name="iframe" scrolling="auto"></iframe>
            </div>
      
    <div class="col-md-4">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">

                        <form action="busca" method="get" target="iframe">
                            <div class="input-group">
                                
                                <input type="text" class="form-control" name="q" placeholder="Busca...">
                                <div class="input-group-btn">
                                    <input class="btn btn-default" type="submit" />
                                </div>
                            </div><!-- /input-group -->
                        </form>


                    </div>


                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p class="text-center"><strong>Ultimos Cadastros</strong></p>
                        </h3>
                    </div>

                    <table class="table">
                        <tr class="active">
                            <td class="active"><span class="glyphicon glyphicon-user"></span> José Almeida Santos<br /></td>
                        </tr>
                        <tr>
                            <td class="danger"><span class="glyphicon glyphicon-file"></span> TR: Maria Silva <br /></td>
                        </tr>
                        <tr>
                            <td class="info"><span class="glyphicon glyphicon-hdd"></span> Desktop | Optiplex 3020<br /></td>
                        </tr>
                        <tr>
                            <td class="warning"><span class="glyphicon glyphicon-hdd"></span> Desktop | Optiplex 3020<br /></td>
                        </tr>
                        <tr>
                            <td class="info"><span class="glyphicon glyphicon-hdd"></span> Desktop | Optiplex 3020<br /></td>
                        </tr>
                        <tr>
                            <td class="warning"><span class="glyphicon glyphicon-hdd"></span> Notebook | Latitude E7440<br /></td>
                        </tr>
                        <tr>
                            <td class="warning"><span class="glyphicon glyphicon-hdd"></span> Notebook | Elitebook e8440<br /></td>
                        </tr>
                        <tr>
                            <td class="info"><span class="glyphicon glyphicon-hdd"></span> Desktop | Optiplex 7020<br /></td>
                        </tr>

                    </table>



                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <p class="text-center"><strong>Links Úteis</strong></p>
                </h3>
            </div>
            <address>
                <br />

                <ul>
                    <li>Qualitor</li>
                    <li>Qualitor</li>
                    <li>Qualitor</li>
                    <li>Qualitor</li>
                </ul>


            </address>




        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 well">
                <h2>Solicitação de VPN</h2>
                <p>Gere o formulário de VPN e encaminhe parao usuário.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-4 well">
        <h2>Redefinir senha</h2>
        <p>Realize a redefinição de senha de usuários pelo site.</p>
        <p><a class="btn btn-default" data-toggle="modal" data-target="#myModal">Redefinir</a></p>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Redefinição de Senha</h4>
            </div>
            <div class="modal-body">
                <iframe src="/Account/Reset" style="zoom:0.60" width="99.6%" height="540" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
</script>