USE [dbITSupport]
GO
/****** Object:  Table [dbo].[tblFabricante]    Script Date: 05/30/2016 00:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFabricante](
	[FabricanteID] [int] IDENTITY(1,1) NOT NULL,
	[CNPJ] [varchar](50) NOT NULL,
	[Fabricante] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[Website] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
